
.main{
    width: 100;
    background-color: rgb(178, 219, 100);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

contacts{
    padding: 0 50px;
    margin-bottom: 100px;
}

.contacts h2{
    font-size: 35px;
    color :rgb(8, 81, 116);
}

.contacts .group{
    display: flex;
    gap: 50px;
}

.contacts .group .text{
    flex: 3;
    margin-top: 20px;
    color: rgb(10, 10, 10);
}

.contacts .group form{
    flex: 3;
    display: flex;
    flex-direction: column;
}

.contacts .group form input,
.contacts .group form textarea
{
    font-family:Arial;
    border: 2px solid aqua;
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    resize: none;
}

.contacts .group form button{
    font-size: 16px;
    font-family: Arial;
    color: aliceblue;
    background-color: aqua;
    border: none;
    height: 50px;
    cursor: pointer;
    transition: 1s;
}

.contacts .group form button:hover{
    filter: brightness(.9);
}